<html lang="es">
    <head>
         <meta charset="UTF-8"> 
         <title>Evaluar</title>

        <% include ../layouts/header %>

    </head>

    <body class="bg-light text-dark">
        <% include ../layouts/nav %>
        
        <% include ../layouts/title %>
        <div class="container">
            
            <div class="row" style="margin-top: 20px">
                <div class="col-12">
                    <div class="card bg-principal text-dark">
                        <div class="card-header">
                            <div class="col-10">
                                <h3><b class="text-accent">Paciente actual: </b><span id="paciente_actual"></span></h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <form class="form" id="target" method="POST" enctype='application/json' action="/paciente/evaluar">
                                <div class="form-group">
                                    <label for="terapeuta" class="text-accent">Terapeuta</label>
                                    <input class="form-control" id="terapeuta" name="data[terapeuta]" required />
                                </div>

                                <div class="form-group">
                                    <label for="diagnostico" class="text-accent">Diagnóstico</label>
                                    <textarea class="form-control" id="diagnostico" placeholder="¨¿Cómo le fue en la sesión?¨" name="data[diagnostico]" rows="18" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="plan" class="text-accent">Plan de tratamiento</label>
                                    <textarea class="form-control" id="plan" name="data[plan]" placeholder="¨Plan para la siguiente sesión¨" required></textarea>
                                </div>
                        </div>
                        
                        <div class="card-footer">
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn-principal" id="guardar" type="submit">Guardar</button>
                                </div>                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <script type="text/javascript" src="/public/js/user/perfil.js"></script>
        <script type="text/javascript" src="/public/js/psicologo/evaluar.js"></script>
    </body>
</html>