<html lang="es">
	<head>
		 <meta charset="UTF-8"> 
		 <title>Inicial</title>

		<script src="/common/js/jquery-3.2.1.min.js"></script>
		<script src="/common/js/post.js"></script>
	</head>

	<body>
		<form id="target" method="POST" enctype='application/json' action="/database/insertar/">
			<input type="hidden" name="collection" value="users" />
			<input type="hidden" name="redirect" value="/" />

			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input id="nombre" type="text" name="data[nombre]">
			</div>
			
			<div class="form-group">
				<label for="aPaterno">Apellido Paterno</label>
				<input id="aPaterno" type="text" name="data[aPaterno]">
			</div>
			
			<div class="form-group">
				<label for="aMaterno">Apellido Materno</label>
				<input id="aMaterno" type="text" name="data[aMaterno]">
			</div>
			
			<div class="form-group">
				<label for="fechaNacimiento">Fecha de Nacimiento</label>
				<input id="fechaNacimiento" type="date" name="data[fechaNacimiento]">
			</div>
			
			<div class="form-group">
				<button id="guardar" type="submit">Guardar</button>
			</div>
		</form>

		<script type="text/javascript">
			$( "#guardar" ).click(function() {
				$("form#target :input").each(function(){
					this.value = this.value.toLowerCase();;
				});
				$( "#target" ).submit();
			});
		</script>
	</body>
	
</html>