<html lang="es">
	<head>
		 <meta charset="UTF-8"> 
		 <title>Inicial</title>

		<script src="/common/js/jquery-3.2.1.min.js"></script>
		<script src="/common/js/post.js"></script>
	</head>

	<body>
		<form>
			<input id="nombre" type="text" name="nombre">
			<input id="aPaterno" type="text" name="aPaterno">
			<input id="aMaterno" type="text" name="aMaterno">
			<input id="fechaNacimiento" type="date" name="fechaNacimiento">
			<button onclick="guardar()">Guardar</button>
		</form>

		<script type="text/javascript" src="/general/js/main.js"></script>
	</body>
	
</html>