api-server/.env
api-server/node_modules/*

# dependencies
client-side/.env
client-side/node_modules/*
client-side/.pnp
client-side/.pnp.js

# testing
client-side/coverage

# next.js
client-side/.next/
client-side/out/

# production
client-side/build

# misc
client-side/.DS_Store
client-side/*.pem

# debug
client-side/npm-debug.log*
client-side/yarn-debug.log*
client-side/yarn-error.log*

# local env files
client-side/.env.local
client-side/.env.development.local
client-side/.env.test.local
client-side/.env.production.local

# vercel
client-side/.vercel