<html lang="es">
    <head>
         <meta charset="UTF-8"> 
         <title>Puntos de vista</title>
        
        <style type="text/css">
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>        
        <link rel="stylesheet" type="text/css" href="./public/css/extra_fa.css">

        <% include ../../src/views/layouts/header %>
        <script src="/public/common/js/d3/d3.min.js"></script>
        <script src="/public/common/js/react.js"></script>
        <script src="/public/common/js/react-dom.js"></script>
        <script src="/public/common/js/browser.js"></script>
    </head>

    <body class="bg-light text-dark">
        <% include ../../src/views/layouts/nav %>
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="main"></div>
                </div>
            </div>
        </div>
        
        <script type="text/babel" src="./public/js/Img.js"></script>
        <script type="text/babel" src="./public/js/BloqueImg.js"></script>
        <script type="text/babel" src="./public/js/Camaras.js"></script>
        <script type="text/babel" src="./public/js/Fin.js"></script>
        <script type="text/babel" src="./public/js/Ejercicio.js"></script>
        <script type="text/babel" src="./public/js/Instrucciones.js"></script>
        <script type="text/babel" src="./public/js/Bloque.js"></script>
        <script type="text/babel" src="./public/js/main.js"></script>
    </body>
    
</html>