.title {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

hr {
    border: none;
    background-color: #F0b894;
}

.seleccionado {
    border-style: solid;
    border-width: 5px;
    border-color: #87d37c;
    border-radius: 20px;
}

.no-seleccionado {
    border-style: solid;
    border-width: 5px;
    border-color: #E0E0E0;
    border-radius: 20px;
}
