<html lang="es">
    <head>
         <meta charset="UTF-8"> 
         <title>Juegos</title>
    
        <style type="text/css">
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>

        <% include ../layouts/header %>
        <script src="/public/common/js/react.js"></script>
        <script src="/public/common/js/react-dom.js"></script>
        <!-- <script src="/public/common/js/browser.js"></script> -->

    </head>

    <body class="bg-light text-dark">
        <% include ../layouts/nav %>
        
        <% include ../layouts/title %>
        <div class="container">

            <div class="row mt-3">
                <div class="col-12">
                    <div class="card text-dark bg-principal">
                        <div class="card-header">
                            <h3><b class="text-accent">Paciente: </b><span id="paciente_actual">No has seleccionado a un paciente</span></h3>
                        </div>
                        <!-- <div class="card-body">
                            <input class="form-control" type="text" name="buscar" id="buscar" placeholder="Buscar" />
                        </div> -->
                    </div>
                </div>
            </div>

            <div id="juegos">
                
            </div>
        </div>
            
        <script type="text/javascript" src="/public/js/user/perfil.js"></script>
        <script type="text/javascript" src="/public/js/juegos/listar.js"></script>
    </body>
</html>