<html lang="es">
    <head>
         <meta charset="UTF-8">
         <title>Administradores</title>

        <% include ../../layouts/header %>

    </head>

    <body class="bg-light">
        <% include ../../layouts/nav %>
        <% include ../../layouts/title %>
        <div class="container">
            <div class="row" style="margin-top: 50px;">
                <div class="col-12">

                    <div class="card col-6 offset-3 bg-principal text-white">
                        <div class="card-header"><h3 class="text-accent">Administradores</h3></div>
                        <div class="card-body">
                            <form class="form" id="target" method="POST" enctype='application/json'>
                                <div class="form-group">
                                    <label for="username" class="text-accent">Usuario</label>
                                    <input class="form-control" id="username" type="text" name="username">
                                </div>

                                <div class="form-group">
                                    <label for="password" class="text-accent">Clave</label>
                                    <input class="form-control" id="password" type="password" name="password">
                                </div>

                                <div class="form-group">
                                    <label for="password" class="text-accent">Confirma la clave</label>
                                    <input class="form-control" id="password" type="password" name="password_confirmation">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-principal" type="submit">Registrar</button>
                                    <a href="/administradores" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                if(error){
                    toastr(error);
                }
            })
        </script>
    </body>

</html>
