div.divisor {
     border-left:2px solid #A0A0A0; 
     border-right:2px solid #A0A0A0; 
     margin-top: 5px;
     margin-bottom: 10px;
     margin-right: 10px;
     margin-left: 10px;
     min-height: 100% !important;
}

.boton {
	max-width: 100px;
	max-height: 100px;
    width: 50%;
}

.boton:before {
    content: "";
    display: block;
    padding-top: 100%;
}