<!-- Barra de navegación del sistema -->
<nav class="navbar navbar-expand-lg navbar-dark bg-cardhead sticky-top ">

  <span class="navbar-brand h1">Sistema de rehabilitación cognitiva</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if (locals.role == locals.roles["ROLE_PACIENTE"]) { %>
      <li class="nav-item">
        <a class="nav-link" href="/paciente/perfil">Perfil</a>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/">Pacientes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Paciente
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/paciente/perfil">Perfil</a>
            <a class="dropdown-item" href="/paciente/notas">Notas</a>
            <a class="dropdown-item" href="/paciente/evaluar">Agregar Nota</a>
          </div>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/juegos">Juegos</a>
      </li>
      <% if (locals.role == locals.roles["ROLE_ADMIN"]) { %>
      <li class="nav-item">
          <a class="nav-link" href="/administradores">Terapeutas</a>
      </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>
